<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">DatingApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- It is a good technique to use a ng container when conditionals -->
            <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lists" routerLinkActive="active">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                </li>
            </ng-container>
        </ul>

        <div class="dropdown ml-auto" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                Welcome {{user.userName | titlecase}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" *dropdownMenu>
                <a class="dropdown-item" href="#">Edit profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>

        <form #loginForm="ngForm" *ngIf="(accountService.currentUser$ | async) === null" class="form-inline my-2 my-lg-0 ml-auto" (ngSubmit)="login()" autocomplete="off">
            <input name="username" [(ngModel)]="model.userName" class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>
</nav>
